// Colors

$nav: #2e323f;
$section: #3b4050;
$primary: #6f737f;
$secondary: #ffffff;
$element: #a59678;

// Fonts

$fontPrimary: 'Oswald', sans-serif;
$fontSecondary: 'Montserrat', sans-serif;

// Breakpoints
$medium-screen: 700px;
$large-screen: 1000px;
